.box{
    display: flex;
    justify-content: center;
}

.title{
    color: white;
}
.btn{
    padding: 10px;
    background-color: rgb(73, 73, 198);
    border-radius: 10px;

    animation-name: blue_circle;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    

&:hover,
&:focus{
    background-color: red;
}
        
}

       

@keyframes blue_circle {
    0%{
        padding: 10px;
        background-color: rgb(73, 73, 198);
        border-radius: 10px;
    }
    50%{
    
    }
    100%{
        padding: 15px;
        transition: all 0.5s;

    }
}